asgiref==3.4.1
Django==3.1.7
mysql-connector==2.2.9
mysql-connector-python==8.0.26
mysqlclient==1.4.6
pip==21.3.1
protobuf==3.19.4
pytz==2022.1
setuptools==59.6.0
sqlparse==0.4.2
typing_extensions==4.1.1
wheel==0.37.1
